

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color:black ;
    
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
    color:white;
}
nav ul{
    display:flex;
    align-items:center;
    list-style:none;
    height:65px;

    background-color:black

}
.logo{
    display:flex;
    align-items:center;
    font-size:1.4rem

}
.logo img{
 padding:0 8px;  
 height:44px;
}
nav ul li{
    padding:0 12px;
}
.container{
    border:1px solid white;
    display: flex;
    flex-direction:column;
    margin: 10px auto;
    width: 70%;
    min-height: 63vh;
    border-radius: 12px;
    padding: 25px;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    background-image: url(img1.jpg);
    background-size: cover;
    
    background-position-y: -130px;
}
.songlist{
    height:32px;
}
.bottom{
    margin-top:23px;
    bottom: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 85px;
    background-color: black;
    flex-direction: column;
    

}
input[type="range"]{
    accent-color:#56e856;
}

.icons{
    font-size:30px;
}
#myprogressbar{
    width:80vw;
    cursor:pointer;

}
.icons{
    cursor:pointer;
    margin:12px 0;
}
.songitem:hover{
    height:32px;
    border:3px solid white;
}
.songitem{
    margin-left:15vw;
    margin-top:5px;
    border: 1px solid maroon;
    height: 30px;
    display: flex;
    background-color: #56e856;
    width: 55%;
    color: whitesmoke;
    justify-content: normal;
    align-items: center;
    border-radius: 20px;

}
.songitem img{
    border: 2px solid whitesmoke;
    width: 30px;
    margin-left: 0px;
    border-radius: 50%;
}
.sname{
    margin-left: 160px;
    width:40%;
    font-size:14px;
}
.sname:hover{
    font-size:16px;
}
.stime{
    margin-left: 0px;
    
}
.splay{
    margin-left: 7px;
    cursor: pointer;
    font-size: 20px;
}
.splay:hover{
    font-size:24px;
}
.splay i:hover{
    color:black;
}
.songinfo img{
    opacity:0;
    transition:opacity 0.8s ease-in;
    height:8px;
    margin-right:10px;
   
}
.songinfo{
    
    color:white;
    position:absolute;
    left:10vw;
    font-size:14px;
    font-family:'Varela Round',sans-serif;
}
@media only screen and (max-width:274px){
    .container {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        margin: 15px 11px;
        width: 81%;
        min-height: 87vh;
        border-radius: 12px;
        padding: 25px;
        background-color: black;
        color: white;
        font-family: 'Varela Round', sans-serif;
        background-image: url(img1.jpg);
        background-size: cover;
        background-position-y: 0px;
        background-position-x: -125px;
        justify-content: center;
    }
    .songlist {
        text-align: center;
        margin-top: -48px;
        font-size: 13px;
        height: 32px;
    }
    .songitem {
        margin-left: -7vw;
        margin-top: 11px;
        border: 1px solid maroon;
        height: 30px;
        display: flex;
        background-color: #56e856;
        width: 118%;
        color: whitesmoke;
        justify-content: normal;
        align-items: center;
        border-radius: 20px;
    }
    .sname {
        margin-left: 4px;
        width: 40%;
        font-size: 14px;
    }
    .splay {
        margin-left: 46px;
        cursor: pointer;
        font-size: 20px;
    }
    .bottom {
        margin-top: 0px;
        bottom: 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        position: sticky;
        height: 95px;
        background-color: black;
        flex-direction: column;
        width: 108vw;
    }
    #myprogressbar {
        margin-top: 17px;
        margin-left: 6px;
        width: 76vw;
        cursor: pointer;
    }
    .icons {
        margin-top: 33px;
        cursor: pointer;
    }
    .songinfo {
        color: white;
        position: absolute;
        left: 9vw;
        font-size: 14px;
        font-family: 'Varela Round',sans-serif;
    }
    
    
}
@media screen and (max-width:360px){
    .container {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        margin: 15px 15px;
        width: 82%;
        min-height: 87vh;
        border-radius: 12px;
        padding: 25px;
        background-color: black;
        color: white;
        font-family: 'Varela Round', sans-serif;
        background-image: url(img1.jpg);
        background-size: cover;
        background-position-y: 0px;
        background-position-x: -125px;
        justify-content: center;
    }
    .songlist {
        text-align: center;
        margin-top: 11px;
        font-size: 16px;
        height: 32px;
    }
    .songitem {
        margin-left: -6vw;
        margin-top: 11px;
        border: 1px solid maroon;
        height: 40px;
        display: flex;
        background-color: #56e856;
        width: 113%;
        color: whitesmoke;
        justify-content: normal;
        align-items: center;
        border-radius: 20px;
    }
    .sname {
        margin-left: 56px;
        width: 40%;
        font-size: 14px;
    }
    .bottom {
        margin-top: 0px;
        bottom: 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        position: sticky;
        height: 95px;
        background-color: black;
        flex-direction: column;
        width: 100vw;
    }
    #myprogressbar {
        margin-top: 24px;
        margin-left: 11px;
        width: 76vw;
        cursor: pointer;
    }
    .songinfo {
        color: white;
        position: absolute;
        left: 19vw;
        font-size: 14px;
        font-family: 'Varela Round',sans-serif;
        margin-bottom: 21px;
    }
    .icons {
        cursor: pointer;
        margin: 32px 0;
    }
    
    
}
